.dropdown{
    height: 66px;
    display: grid;
    align-items: center;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    
    a {
        text-decoration: none;
        color: rgb(255,255,255);
        font-weight: bold;
    }
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 67px;
    right: 0;
    background-color: #003135;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255,255,255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #026169;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:first-child{
    border-bottom: 0.5px rgb(255,255,255) solid;
}
.dropdown-content:hover{
    display: block;
}

nav {
    background-color: #003135;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 0px;
    margin: 0px;
    align-items: center;
    color: #fff;
}
  
nav .logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}
  
nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}
  
nav ul li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.agent-dialog{
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 0px;
    width: 1000px;
    height: 700px;
    display: none;
    flex-direction: column;
    overflow: hidden;
}

.top-box, .bottom-box{
    outline: red 1px solid;
    flex-grow: 1;
    margin: 5px;
}

.bottom-box{
    height: 400px;
}

.top-box {
    max-height: 50px;
    display: grid;
    align-items: center;
    text-align: center;
}

.agent-username {
    font-weight: bold;
}

.listings-list{
    background-color: rgb(195,195,195);
    margin: 8px;
    border-radius: 10px;
    padding: 10px;
    height: 415px;
    overflow-y: none;
}

.list-scroller{
    height: 405px;
    overflow-y: auto;
}

.item {
    display: flex;
    margin: 4px;
    border-radius: 5px;
    background-color: white;
    min-height: 50px;
    padding: 8px;
    
    .icon-container {
        display: flex;
        min-width: 60px;
        flex-direction: row;
        gap: 15px;
        margin: 8px; 
        margin-left: 20px;
    }

    a {
        height: 20px;
    }

    .link-container{
        display: grid;
        text-align: center;
        align-items: center;
    }
}