body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #f3f3f3;
    flex-direction: column;
    margin: 0;
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

form {
    text-align: center;
}

h1 {
    color: #4CAF50;
}

input {
    display: block;
    width: 80%;
    margin: 10px 30px 15px 50px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 10px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin: 10px 15px 10px 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #47a84a;
    width: 80%;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon {
    position: absolute;
    transform: translatex(170px) translatey(-40px);
}

.email-icon {
    position: absolute;
    transform: translatex(170px) translatey(-40px);
}

.password-icon {
    position: absolute;
    transform: translatex(170px) translatey(-40px);
}