body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 5px;
}

section {
    margin: 20px;
    line-height: 1.6;
}

h2 {
    font-size: 24px;
}

p {
    margin-bottom: 0;
}

nav {
    background-color: #479649;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

nav .logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}
  
nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}
  
nav ul li a {
    color: #fff;
    text-decoration: none;
}

.logo img {
    height: 50px;
}